/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

button {
    color: #ffffff;
    background-color: #0061fe;
    padding: 7px 12px;
    border: none;
}

button:active {
    background-color: #0053d9;
}

.inl{
    display: inline;
}

.inl-bl{
    display: inline-block;
}

/*****************
    top 
*****************/


header {
    background-color: #ffffff;
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0 1px 3px 0px #dedede;
    position: sticky;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
}

header > div{
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header > div > img{
    width: auto;
}

header > div > a{
    color: #000000;
    text-decoration: none;
    padding: 22px 0;
    border-bottom: 3px solid #ffffff;
}

header > div > a:hover{
    border-color: #000000;
}




/*****************
    main 
*****************/


/******** 
jumbotron
********/

#jumbotron{
    background-color: #b4d0e6;
}

#jumbotron > div {
    max-width: 70%;
    margin: 0 auto;    
}

h1{
    padding-top: 100px;
    font-size: 60px;
    font-weight: 3000;
}

#jumbotron p{
    font-size: small;
}

#jumbo-1{
    flex-direction: column;
    padding-top: 60px;
    gap: 15px;
    align-items: flex-start;
    position: relative;
}

#jumbo-1 i{
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 40px;
}

#jumbo-2{
    max-width: 66%;
    position: relative;
    top: 60px;
}




/******** 
section-1
********/


.section{
    max-width: 65%;
    margin: 0 auto;
    margin-top: 125px;
}

#section-1 h2{
    padding: 50px 0 0px;
    font-size: 30px;
}

.pulsante{
    padding: 30px 0;
    gap: 60px;
}

.pulsante-1{
    align-items: center;
    gap: 5px;
}

#bottoncino-1{
    height: 4px;
    width: 4px;
    padding: 4px;
    border: 4px solid #0062fe;
    border-radius: 50%;
}

#bottoncino-2{
    height: 4px;
    width: 4px;
    padding: 6px;
    border: 2px solid #bebebe;
    border-radius: 50%;
}



.griglia{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.col-1{
    width: calc(100% / 3 - 20px) ;
}

.col-2{
    width: 100%;
}

.col-1, .col-2{
    border: 1px solid #dedede;
}

.int{
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
    gap: 5px;
}

.tab{
    max-width: 85%;
    margin: 0 auto;
}





h5{
    padding: 20px 0;
    font-weight: bolder;
    font-size: 20px;
}

.prezzo{
    font-size: small;
    font-weight: bolder;
    padding: 10px 0;
}

.rata{
    font-size: small;
    color: #878787;
    padding-bottom: 30px;
}

.tab > ul{
    list-style: none;
    padding: 20px 0 50px;
}

.tab ul li .fa-solid{
    padding-top: 3px;
}

.tab ul li{
    align-items: flex-start;
    gap: 10px;
    padding: 15px 0;
}

.col-1 .tab button{
    width: 100%;
    margin: 0 0 40px;
}

.oppure{
    padding: 0 5px 40px 0;
    border-bottom: 1px solid #bebebe;
}

h6{
    font-size: small;
    padding: 100px 0 0;
}

.fa-check{
    color: #0053d9;
    font-weight: bolder;
}




.col-2 .tab{
    padding: 20px 0;
}

.col-2 .tab div{
    justify-content: space-between;
    align-content: center;
}

.col-2 .tab div button{
    margin: auto 0;
    padding: 7px 25px;
}

.col-2 .tab .prezzo{
    padding-top: 0;
}

.paragraph{
    font-size: small;
}

.tab .paragraph{
    padding-top: 40px;
}






/******** 
section-2
********/

.section > img {
    max-width: 60%;
}

.box-r {
    max-width: 40%;
}

.item-box-r{
    max-width: 80%;
    margin: 50px auto;
}
.item-box-r .paragraph{
    margin: 0px 0 50px;
}

.w-btn{
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px 18px;
}

.w-btn:active{
    background-color: #d5d5d5;
}


/******** 
section-3
********/

.col-3{
    width: calc(100% / 3 - 30px) ;
}