/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family: 'Open Sans', sans-serif;
}

button {
    color: #ffffff;
    background-color: #0061fe;
    padding: 7px 12px;
    border: none;
}

button:active {
    background-color: #0053d9;
}

/*****************
    top 
*****************/


header {
    justify-content: space-between;
    padding: 0 15px;
    box-shadow: 0 1px 3px 0px #b5b5b5;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

header > div{
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header > div > a{
    color: #000000;
    text-decoration: none;
    padding: 22px 0;
    border-bottom: 3px solid #ffffff;
}

header > div > a:hover{
    border-color: #000000;
}