/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

body{
    font-family: 'Open Sans', sans-serif;
}